doctype html
html
  head
    //- meta define
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='viewport',content='width=device-width,initial-scale=1')
    block title
        title= title
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet',href='/stylesheets/main.css')
  body
    header(class='header-bar')=title
      span(id="wsstate")
    block content
