extends layout
block content
  block header
    div(class='container main')
      div(id='droparea' class='img-drop-area')=caption
        canvas(id='canvas')
        input(id='fileupload' type='file' class='hidden' accept="image/gif,image/jpeg,image/png")
    div(id='result')
  block footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
          crossorigin="anonymous")
    script(src="/javascripts/megapix-image.js")
    script(src="/javascripts/client.js")
    script.
       const ws = client.wsClientRegist('#{host}');
