extends layout
block content
  block header
    div(class='container main')
      div(id='droparea' class='img-drop-area')=caption
        canvas(id='canvas')
        input(id='fileupload' type='file' class='hidden' accept="image/gif,image/jpeg,image/png")
    div(id='result')
  block footer
    script(src="/javascripts/jquery-3.3.1.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/megapix-image.js")
    script(src="/javascripts/client.js")
    script.
       const ws = client.wsClientRegist('#{host}');
