extends layout
block content
  block header
    div(class='main panel-default')
      div(id='droparea' class='preview-area')
        canvas(id='canvas')
    div(id='console')
      button(id='camera' class='btn btn-default')
        span(class='glyphicon glyphicon-camera')
      input(id='fileupload' type='file' class='hidden' accept="image/*")        
  block footer
    script(src="/javascripts/jquery-3.3.1.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/megapix-image.js")
    script(src="/javascripts/common.js")
    script(src="/javascripts/tablet.js")
    script.
       const ws = client.wsClientRegist('#{host}');
